/Exercicios/vetorSemRepetir/nbproject/private/
/Exercicios/vetorSemRepetir/build/
/Exercicios/exercicioVetor/nbproject/private/
/Exercicios/exercicioVetor/build/
/Exercicios/jogoNumeros/nbproject/private/
/Exercicios/jogoNumeros/build/
/Exercicios/desafioRandom/nbproject/private/
/Exercicios/desafioRandom/build/
/Exercicios/revisaoVetor/nbproject/private/
/Exercicios/revisaoVetor/build/
/Exercicios/projetoContas/nbproject/private/
/Exercicios/projetoContas/build/
/Exercicios/signos/nbproject/private/
/Exercicios/signos/build/
/Exercicios/binario/nbproject/private/
/Exercicios/binario/build/
/Exercicios/primosMatriz/nbproject/private/
/Exercicios/primosMatriz/build/
/Exercicios/calNotaFinal/nbproject/private/
/Exercicios/calNotaFinal/build/
/Exercicios/paresImparesFor/nbproject/private/
/Exercicios/paresImparesFor/build/
/Exercicios/exemploIf/nbproject/private/
/Exercicios/exemploIf/build/
/Exercicios/exemploMatriz/nbproject/private/
/Exercicios/exemploMatriz/build/
/Exercicios/mediaMatriz/nbproject/private/
/Exercicios/mediaMatriz/build/
/Exercicios/mediaVetor/nbproject/private/
/Exercicios/mediaVetor/build/
/Exercicios/exemploWhile/nbproject/private/
/Exercicios/exemploWhile/build/
/Exercicios/exemploDoWhile/nbproject/private/
/Exercicios/exemploDoWhile/build/
/Exercicios/tabuada/build/
/Exercicios/tabuada/nbproject/private/
/Exercicios/reajusteSalario/nbproject/private/
/Exercicios/reajusteSalario/build/
/Exercicios/remocaoValor/nbproject/private/
/Exercicios/remocaoValor/build/
/Exercicios/vetorAleatorio/nbproject/private/
/Exercicios/vetorAleatorio/build/
/Exercicios/exemploVetor/nbproject/private/
/Exercicios/exemploVetor/build/
/Exercicios/paresVetor/nbproject/private/
/Exercicios/paresVetor/build/
/Exercicios/encontreiVetor/nbproject/private/
/Exercicios/encontreiMatriz/nbproject/private/
/Exercicios/encontreiVetor/build/
/Exercicios/encontreiMatriz/build/
/Exercicios/especificacao/nbproject/private/
/Exercicios/especificacao/build/
/Exercicios/divisaoNumero/nbproject/private/
/Exercicios/divisaoNumero/build/
/Exercicios/criacaoMatriz/nbproject/private/
/Exercicios/criacaoMatriz/build/
/Exercicios/matrizCrescente/nbproject/private/
/Exercicios/matrizCrescente/build/
/Exercicios/somaVetor/nbproject/private/
/Exercicios/somaVetor/build/
/Exercicios/trocaValorVetor/nbproject/private/
/Exercicios/trocaValorVetor/build/
/Forms/projetoContas/build/