/Exercicios/vetorSemRepetir/nbproject/private/
/Exercicios/vetorSemRepetir/build/
/Exercicios/exercicioVetor/nbproject/private/
/Exercicios/exercicioVetor/build/
/Exercicios/jogoNumeros/nbproject/private/
/Exercicios/jogoNumeros/build/
/Exercicios/desafioRandom/nbproject/private/
/Exercicios/desafioRandom/build/
/Exercicios/revisaoVetor/nbproject/private/
/Exercicios/revisaoVetor/build/